.jobs-bg-container {
  background-color: #000000;
  height: 100%;
  width: 100vw;
  color: white;
}
.container-items {
  display: flex;
  padding: 30px;
}
.filters-container {
  height: 100vh;
  width: 30%;
  margin-right: 5%;
}
.profile-container {
  background-color: red;
  height: 100vh;
  width: 65%;
}
.employment-type-list-item {
  list-style-type: none;
  display: flex;
}
.list {
  list-style-type: none;
}
.hr-line {
  background-color: #64748b;
}
.search-input {
  width: 250px;
  background-color: transparent;
}
.button {
  background-color: transparent;
}
